language: go
go:
  - 1.x
os: osx
osx_image: xcode12.5

script:
  - go build -tags $DATREE_DEPLOYMENT
  - HOMEBREW_NO_AUTO_UPDATE=1 brew install docker
  - docker login --username=$DOCKER_USER --password=$DOCKER_PASS
  - go test ./...

before_deploy:
  - curl -sfL https://git.io/goreleaser | VERSION=v$GORELEASER_VERSION sh -s -- check
  - HOMEBREW_NO_AUTO_UPDATE=1 brew install mitchellh/gon/gon
  - git config --global user.email "builds@travis-ci.com"
  - git config --global user.name "Travis CI"
  - git remote set-url origin https://datree-ci:$GITHUB_TOKEN@github.com/datreeio/datree.git
  - bash ./internal/release/install_svu.sh
  - echo $(svu --version)
  - export SEMVER_NUMBER=$(svu next --strip-prefix --no-metadata)
deploy:
  - provider: script
    skip_cleanup: true
    script: bash ./internal/release/deploy.sh
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ ^(staging|main|DAT-3363-docker-image)$
  - provider: script
    skip_cleanup: true
    script: bash ./internal/release/internal_deploy.sh
    on:
      branch: main

env:
  global:
    #GITHUB_TOKEN
    - secure: "sEqRG6AlcLr7S4j4j8HznfV8tp+eaNjqP5d/wKtBBabEcAkRVTxKb/qiW56JkfE+v4KhtihNNYIX2nOKqOmVZLXkLWlpUqDsZ77owLIuQVb6ajr4HU0bw1vr20RPXThTqpIikeCoyiabrx2hQo0Epl11roay8V53fpPxwnenJETIlR95VXWxtDqTzow4QCyQy5AzlE51EGgPlSL9JqspvL7AwPQc2IY2v8M/Zhgdo2wQ2DVDnd2E1Bakt65ej9rvECfQIJ9d6kDHPQ8L8wqK1ALXbVrv/f2vlKorG6Nm5nNND2xYc5NUFUEq62K002U0HEUD7twHHoukeMB45R14SK+hBvQ9pPAIux7hzctSBp/PV1qCMMSGvEQmtTe9op1iGBvFfeCBVV4wC/IE49ymoh1yLz0noIAPcWC73UJWKJQkCTRFl0lI27yOkgSmgC/fOoCQmrsDrBPrxIR1mpNkDaqq0NXgZ73yIzI5NZepPY0QvmqSAO/FGwu/JvahYPoXsT0ZY6IXMTf50pOMphEwxv94euYu8sE7xxozkvfaoD3swuXTZD4YdNZCQcwQS5yz4rPSwjJFdq5BfE6GUckmaEXPDEqrBuqU0We35W4mjt9Gcm68Kx8bDhMrbAdO0LdqHXy4IsEkkrdvx2SDwxba4iDgEOvNW4tHNZMzzji2uXs="
    - GORELEASER_VERSION="0.155.1"
    - DATREE_DEPLOYMENT=$TRAVIS_BRANCH
    #AC_USERNAME
    - secure: "eyz1nelBEtNDwYYXPn5X8Fh76q6tXudD7Z6qpu/0I8c4dACg0zK2h2BwzetVoDQZ6+E1nzWS6raaSOpXAzn/ezB7lb0zEWCoSjsuCxN7LiKikQn1rLWg7SNOYF2HJYENJLUVeBElHAcZOVXFa/G4u4Djq1lDNRqQaKlZ8EKhJswMCqa9gyo9oTvWiWuWXbI33aU6fFGpj/BH5ZxQPupA1uFPYLalt2cxB4D7SDGoIdDx5uUedzcPC2vxq9H5Qh0Lj6QdJ6Xq0RHZZw9TEKHJlCM1pyjWsFmAX/SEmsahc2RSExm6biOGjiorzDvtW0nF3MmZfz9k4+M24lSTLh/Lpvc+JAkRIRiv7vegvA9f5am3WbUESzFA5CfZWbn7uH4gtQoguPNQXBKe2a/nkHgQciKTntqrLiiQp+FpxH+u5AAQPkPLhhbPHfGH/CL8GfrCtRBL13GXkfVK093NXWmPqKb7GOIwTkmc9itocdWxLwMJpCnUf0dSRnmBefg2N65Uz0EsdGQMeRmZNcY0F3NvSOxhi1RN84LuiKlXeJa0jNiaSplS/jZNpRvWPlpg5oj5M5AqjF0gL8Mt6BdB7JsbGX9VIE4RjMmkGhshkb5hZk3TqRozAxqLw4q+NePyiKmCzax5KQIj0CuDDqxU2PZYFOG6Mun/f4alU2M86zzcc1M="
    #AC_PASSWORD
    - secure: "KWpsLZ3fPSDa4dZGzVpIQjzhxmhqSYI4dbgFs+NmteBB7hLRpMP6gjLy1BAoVW74jMr8Mo7ThGDRHq9leemrwplJHIrvmoNBl2l96rmOC/+W8IoFThpFIJxNUyqudQkFO0pDMH31F7WGUouzXaMyzM1CZI2lSeBmS9XNKkgWDbVuKb4703GEzfNG8LBn9vMJns4ZYAOSK8aAQi4alo9dR8emNg2o27xshoXG25vCz7hp9N9+1+h1yP7QLLlfD+ZV3IvO8hKYfm9eb36rARsOEt5059gBs2jeVcKxYJn6bWnlgzrSIMbpSGbUvuDkiT6sllPt73GQKQ5k7n7qhYUxc8/qL8xanGutEdyCxoU5MJ1l42T9KoLNmCboS6FDWqEeZ2hLOL9rPQyWOwZlKkviczKNAvtEaqK94GX2ARiKkmIA/sJcCqACFM3HeSOxxlrBl4K07fX8sGheuU1We33PU1IYPmeYqFwECciuGwFgOqVDrmLcFr20C9X0gDx3WQzutmLf5YVia2ItvXbohTe3Cg3y5b4ECZ5YtW9WtSazkY+zfAtMloe3xpRdz7lahSe7YPdfwef61mYcMI9+PzImpN0JL/FCd6kvI+mNocdY4PB7RD5G6ozBa5qJFtEFWlJhqyGOcJRNEJt/UvSaFeKV7XV6PUqyxAdZHcga5VERBSs="
    #P12_PASSWORD
    - secure: "eSkV14fXLnTIX/QGfrzUMACLCgNICEGxhS4AX+UCYnhNKyhOvXQjWJVOHnwuy4Oon75Ueev3PiUTlZBviPWZsAiy6VMpxUA5R149BtpQjUBfvzugA04ooxn6BD+zssIpSnld8VFENxNLRTzMcOyHyQAiwbKIG+TMOGcD8rYR58zJ60DispXY0otg+R/MEofcGXgb59bgD406kcUcEmBKRamE0oU1Xk0TxWrTJg3n7IM34qfPc2KUuO5DdPaxuOvfJ++b9YDyH4n0GFKMW6fuHxoDjMT7O6s2WrYlx+PF294RKiiVV1yCMhDvszu7uMkDgmWbZasmaj6ENBZ6b/RD0PNXHYwh/WvertL2y0waCfAmB9ULk1WYuFOvoqni+jYbcf7fMlLG06xOVF9JKakP1MOBy/K1ESJnOvvl5kpjiSJxK6y/KEcIP9A/RFNdZQX+1pYvPnFk+9IIAtcnE361fu66+E9/HO5yv9BcSiQhQMWiajNnfMlSNEy3vtSEHYovhwo3pfBtgRDlvYxeRQnmjpZH1UjLFhVrq6/qfQGGAkA4eu9uoKuyg9Mf7LFnUhOeknxNZe8eBGHhQ6zMIVzjV72vVSpx1fbUcTHhet+AMCS9fP5NgqOtTTNZ65wIWuwXJAh8jfed3tJ4qTL3GHmnVj/0nSLVIFISy8rwMWb00Cw="
    #DOCKER_USER
    - secure: "HP/A7GPE58usGpNad/1ecjdFw0c2wjmwt2aDlPFjwBnSQBJ4yq6uNnoUy9KpBR4t/iMOuSAQLDC1UOvygcM94WQczgxWz340mPqkEnHJaU6Q0R76nwlgGoytpja9e6QHwzh+PZglr5zRyZRML+FWIftRG7XvVBFeRgcwPfVWgj/l2xLLOiNbKuGQpamkWxQGYKrQCmAFJUDCZXMwp8QjuwbvIXu9ln1HdKEUoUnPug7dwt6KIgS/pPa3Z5aHydKvTBD/wYvyNtUE1C7PILUJcWbRqJr12QmOLpRuXTxVXokVJzG/a7nzeh57A0p3EsAKuMYJGhcjV3oCsrTChCZ8BXO4G3QuEpiZSHDBqY88ObLZ+2aqlZt1EPMf+UKcXvQ5igGQrG/OHvSvG6ekrwtDqQ01tVFXusx163u6ww5gEybuTIizf8JGRPa9FoLYJtM6ckQAwVmWFLzLw0/k51Uw5pGZVsOlNDt4HK4US8xIxQ5YprqeMCmr5qq1uQo7oxQ05QbQ6XYYoIxnOufGfXkd2qQBtwFMD5De6ygDCUEUeIN4ts6ZzshdZcjeE5SCCghc6vmTKX78DL95KUeficUIXzlZ3mh/EfUbFQ4iGvrr+iT48AtlWTIaiU/cwTcWElxWyWmG8Rro0LBYT1Twk+UAPuyOgWzma9KWCB7/I0Im2p8="
    #DOCKER_PASS
    - secure: "IDUtvsbKcKV8NFQ6liI5IeriGMOU2PV67QY6tBDVWE2Go5fwArHjjxrfkvwsGuWrbhSL7uEVR62brAbY4zAvMXrLtWdniChBJ7XuuUBXi0WoVqUjh/42HbSL9kCvACO5ODu9rSzjhkKCuoRHtA1QE+itqcxZX3hmkvpuY4YKZFM0bdzSMe7iGvmGPJg8xLIiTIZDhPsurp6fEKCuX8VFTWpo8XG4H3ZKrF6jpAIXSEpjSRvxvdkOwQPIM7LegcrkdjVmWx7EfrU3nFM4+1xEzcJttgs0uVFb25IoRvIuRXcZ9NzjtSKpWm7K5hteYkgnmErVuE6GAnEToBvd22a1XJ6qryy1NEk80JR83RieqvhW+AME/RclZo+TbN7DK1FaOhUINuU8h+BB4barPmQUqad7uDoBP5CPy6mur2Rj638uQyyflX2Sq6zdbrwOeLV7LNh40W6AC+GSSlFXbbltzDImmr9f7LHNOUHILSPIwmvEz31RDntt4HYPPOIY2/T6lmJCy5YnyqveXIdX/aorGqLwC3FEX8A7NFFZdVMgA6N8yHW3IhyWDbX7zqWKH6aLd8vCjPoNIntGIRCOdURdUZ3hFHkz0TqWdfp3DsUNeIiu/H9Dd/AIvzzbZkK6D2+Q//7gxjeWTCz2O+8W9aQYE2Ig2hBfERLcjyX8K8GTPZA="
