# by deafult
@datreeio/developers

# specific files
README.md  @eyarz
LICENSE.md  @eyarz
CONTRIBUTING.md  @eyarz
DEVELOPER_GUIDE.md  @eyarz

# specific directories
images/  @eyarz
.github/ISSUE_TEMPLATE/  @eyarz
