on: push
jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: curl
        uses: wei/curl@master
        with:
          args: https://api.travis-ci.com/repo/datreeio%2Ffront-d2/requests
