name: Ben's GitHub Actions Demo
on: push
jobs:
    curl:
      runs-on: ubuntu-latest
      steps:
        - name: curl
        uses: wei/curl@v1
        with:
          args: -X POST https://httpbin.org/post