name: Release Workflow
on:
  workflow_dispatch:
    inputs:
      release_candidate_version:
        description: "Release Candidate Version:"
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - env:
          TRAVIS_API_TOKEN: ${{ secrets.TRAVIS_API_TOKEN }}
        run: |
          echo "Triggered by: ${{ github.actor }}!"
          branch_name=${{ steps.extract_branch.outputs.branch }}
          commit_sha=${{ github.sha }}

          echo "branch name: $branch_name"
          if [ "$branch_name" != "main" ]; then
              echo "Release should build only from main branch"
              exit 1
          fi
          if [ -z "$TRAVIS_API_TOKEN" ]; then
              echo "TRAVIS_API_TOKEN is empty"
              exit 1
          fi

          BODY="
          {
            \"request\": {
              \"branch\": \"$branch_name\",
              \"sha\": \"$commit_sha\",
              \"merge_mode\": \"deep_merge_append\",
              \"config\": {
                \"env\": {
                  \"global\": [
                    \"RELEASE_DATREE_PROD=true\",
                    \"RELEASE_CANDIDATE_VERSION=${{ github.event.inputs.release_candidate_version }}\"
                  ]
                }
              }
            }
          }
          "
          GH_ORGANIZATION_NAME="datreeio"
          GH_REPOSITORY_NAME="datree"

          curl -s -X POST \
              -H "Content-Type: application/json" \
              -H "Accept: application/json" \
              -H "Travis-API-Version: 3" \
              -H "Authorization: token ${TRAVIS_API_TOKEN}" \
              -d "$BODY" \
              "https://api.travis-ci.com/repo/${GH_ORGANIZATION_NAME}%2F${GH_REPOSITORY_NAME}/requests"

  release-docker:
    env:
      REPO_NAME: datree
      IMAGE_NAME: datree
    name: Release container image to public registries
    needs: release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - name: Log in to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push to registries
      uses: docker/build-push-action@v2
      with:
        context: .
        platforms: linux/amd64
        push: true
        tags: |
          ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
          ${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.release_candidate_version }}
        cache-from: type=gha
        cache-to: type=gha
